
.toolbar 
{
 margin-bottom: 2px;
}
.colors 
{
 padding: 10px;
 margin-right: 7px;
 background: white;
 color: black;
 border: none;
 cursor: pointer;
}
.color-palette {
 display: flex;
 justify-content: center;
 margin-bottom: 5px;
}
.color-palette .color-swatch {
 width: 32px;
 height: 32px;
 border: 2px solid black;
 cursor: pointer;
 margin-right: 6px;
}
.status-bar 
{
 padding: 7px;
 background: white;
 color: black;
}